<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mp</display-name>
    <servlet-name>mp</servlet-name>
    <servlet-class>db.mp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mp</servlet-name>
    <url-pattern>/mp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate</display-name>
    <servlet-name>validate</servlet-name>
    <servlet-class>db.validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wd1</display-name>
    <servlet-name>wd1</servlet-name>
    <servlet-class>db.wd1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wd1</servlet-name>
    <url-pattern>/wd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dp</display-name>
    <servlet-name>dp</servlet-name>
    <servlet-class>db.dp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dp</servlet-name>
    <url-pattern>/dp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bal</display-name>
    <servlet-name>bal</servlet-name>
    <servlet-class>db.bal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bal</servlet-name>
    <url-pattern>/bal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>db.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>